{% extends "main.html" %}
{% block content %}
	
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
			{% if categories !=[] %}	
				<h2>Categories</h2>
					{% for c in categories %}
						<div class="menu-item">
							<h5 class="diplay-5"><a href={{ url_for('categoryItems', category_name=c.friendlyURL) }}>{{c.name}}</a></h5>								
						</div>
					{% endfor %}
			{% endif %}
			{% if 'username' in session %}
			<div class="menu-item">
				<h5 class="diplay-5"><a href={{ url_for('newCategory') }}>+ Add Category</a></h5>								
			</div>
			{% endif %}
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				{% block citems %}
				{% endblock citems %}
			</div>
		</div>

{% endblock content %}