{% extends "categories.html" %}
{% block citems %}

{% if items !=[] %}	
    <h2> {{category.name}} Items ({{ items|count }} items)</h2>
        {% for i in items %}
        <div class="menu-item">
            <h4 class="diplay-4">{{i.title}}</h4>
            <p>{{i.description}}</p>						
        </div>
        {% if 'username' in session %}
        <a href={{ url_for('itemDescription', category_name=category.friendlyURL, item_name=i.friendlyTitle) }}>Edit</a> | <a href="#">Delete</a>
        {% endif %}
        <hr class="hr"></hr>
        {% endfor %} 
{% endif %}

{% endblock citems %}