{% extends "categories.html" %}
{% block citems %}

{% if items !=[] %}	
    <h2> Latest Items ({{ items|count }} items)</h2>
    {% for i in items %}
    <div class="menu-item">
        <h5 class="diplay-5"><a href={{ url_for('itemDescription', category_name=i.category.friendlyURL, item_name=i.friendlyTitle) }}>{{i.title}}</a><small> ({{ i.category.name }})</small></h5>				
    </div>
    {% endfor %} 
{% endif %}
{% if 'username' in session %}
    <div class="menu-item">
        <h5 class="diplay-5"><a href={{ url_for('newItem') }}>+ New Item</a></h5>				
    </div>
{% endif %}

{% endblock citems %}